name: Test

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.24.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Install ripgrep (Ubuntu)
      if: runner.os == 'Linux'
      run: sudo apt-get update && sudo apt-get install -y ripgrep
    - name: Install ripgrep (macOS)
      if: runner.os == 'macOS'
      run: brew install ripgrep
    - name: Install ripgrep (Windows)
      if: runner.os == 'Windows'
      run: choco install ripgrep -y
    - name: Test
      run: go test -coverprofile="coverage.txt" -covermode=atomic ./...
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        slug: onozaty/reporg
